$color-dark: #302d2b;
$color-light: #d4d2c9;

$font-book: "Neue Montreal Book", serif;
$font-regular: "Neue Montreal Regular", sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("preloader", "navigation", "content", "canvas");
