$color-dark: #0d0e0d;
$color-light: #a2a4a4;

$font-serif: "Grafier", serif;
$font-sans: "Neue Montreal", sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("preloader", "navigation", "content", "canvas");
