.home {
  // @extend %center;
  @extend %page;

  // background: $color-contessa;
  // color: $color-quarter-spanish-white;
  overflow: hidden;
}

.home__wrapper {
}

.home__link {
  @extend %description-14;

  align-items: center;
  bottom: 5rem;
  display: flex;
  height: 6rem;
  justify-content: center;
  left: 50%;
  letter-spacing: 0.05rem;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 28.8rem;
  z-index: 2;

  @include media("<phone") {
    bottom: 7.5rem;
    height: 13.7rem;
    width: 55rem;
  }
}

.home__link__icon {
  @extend %cover;
}
